.container{
    display:flex;
    justify-content: center;
   
}
button{
    border: 2px solid black;
    width: 100px;
    height: 100px;
    align-items: center;
}

p{
    display:flex;
    align-items: flex-end;
    justify-content: center;
    font-size : 30px;
}